body{
	background-image: url('../img/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

header{	
	height: 300px;
	position: relative;
}

h1, h2, h3 {font-family: 'Raleway', sans-serif;}

a:link 	{ 
	text-decoration: none; 
	color: black;
}

/*BANNER*/
#banner {
	bottom: 0; 
	position: absolute; 
	padding-left: 0;
	padding-right: 0;
}

/*MENU*/
.menu-container { position: relative; }

#menu 			{ margin-top: 40px; }

#menu li 		{ display: inline; }

#menu li a 		{ 
	cursor: pointer; 
	text-transform: uppercase; 
	text-decoration: none;
	color: black }

#menu li a:hover { color:#51a0e4; }

#menu li:not(:last-of-type):after{ content:" | "; }

/*SLIDE*/
#lightSlider .slide  {
	background-size: cover; 
	background-repeat: no-repeat; 
	height: 280px; 
	color: white; 
	text-align: center;
}

#lightSlider .slide1 { background-image: url('../img/slide1.jpg'); }
#lightSlider .slide2 { background-image: url('../img/slide2.jpg'); }

/*VIGNETTE*/
#vignette img {
	margin: auto;
	cursor: pointer;
}

#vignette p, #vignette h2 {
	padding: 0 5px; 	
	cursor: pointer;
	color: black;
}

/*ARTICLE*/
.article 				{ padding-left:0; }
.article h3 			{ 
	cursor: pointer; 
	text-decoration: none;
	color: black;
}

.article img 			{ margin-top: 15px; }
.article .img-article 	{ padding-left:0; }

/*ADVERT*/
#advert {
	float:right; 
    background-color: #dddee0;
    border: 1px solid grey; 
}

#advert div:not(:last-of-type){ border-bottom: 3px dashed White; }

/*HELP-ME*/
#help .help-me 	{ 
	position: relative; 
	margin-top: 10px; 
}

#help .help-me h3 { 
   color: black;
   position: absolute; 
   bottom: 0; 
   width: 555px; 
   height: 50px;
   padding-top: 10px;
   margin-bottom: 0;
   background-color: #51a0e4;
}

#help .help-me p { 
   position: absolute; 
   top: 50px; 
   width: 555px; 
   height: 50px;
   margin-bottom: 0;
   color: black;
   font-size: 24px;
   font-weight: bolder;
   padding: 0 100px ;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.5s linear;
}

#help .help-me img { 
	-webkit-transition:  opacity 1s; /* Safari */
    transition:  opacity 1s;
}

#help .help-me:hover p 	{ 
  visibility: visible;
  opacity: 1;
}

#help .help-me:hover img 	{ 
	opacity: 0.65;    
	-webkit-transition:  opacity 1s; /* Safari */
    transition:  opacity 1s; 
}

/*FOOTER*/
footer   		{ margin : 10px 0 20px 0;}

footer a:link 	{ 
	text-decoration: none; 
	font-size: 18px;
	color: black;
}